/*    COLORS
//  #45D6A9 NAVBAR
//  #7CE8C4 ACTIVE
//  #D0EFE4 HOVER
//  #197F5D BUTTON
//  #1EBA82 BUTTON HOVER
//  #FF0000 RED-1
//  #CC6060 RED-2
//  #DBA493 RED-3
//  #DDC4A8 RED-4
//  #EDEDCC RED-5
//  #F5F7E7 RED-6
*/

button, #sales-bill-numbers {
  background-color: #197f5d;
}

button:hover {
  background-color: #1eba82;
}

button.active {
  background-color: #1eba82;
}

button.danger {
  background-color: #AB1B1B;
}

button.danger:hover {
  background-color: red;
}

table th, #navbar {
  background-color: #45D6A9;
}

tr.active {
  background-color: #7ce8c4;
}

/* clickable */
#home-recentsales-list > div:hover,
#home-lowstock-list > div:hover,
#home-nearexpiry-list > div:hover,
table tr:hover:not(.active),
#sales-item-expiry-dropdown > div:hover,
#sales-item-qty-numbox > div:first-child:hover,
#stocks-products-list > p:hover {
  background-color: #d0efe4;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1vw;
  font-family: 'Fira Sans', sans-serif;
}

body, h1, h2, h3, p, a, button {
  margin: 0;
  padding: 0;
}

body > div:not(:first-child)
{
  display: none;
  position: absolute;
  left: 10vw;
  top: 0;
  margin: 5vw;
  width: 80vw;
}

body > div:not(:first-child) > *
{
  position: absolute;
}

button {
  font-size: 1.5vw;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  padding: 0 0 0 1em;
  font-size: 1.5vw;
  font-weight: 300;
  text-transform: capitalize;
}

table {
  border-spacing: 0;
  table-layout: fixed;
  font-size: 1.5vw;
}

table th {
  font-weight: 500;
  height: 5vh;
  padding: 0 0.5vw;
}

table > tbody {
    display: block;
    overflow-y: scroll;
}

table tr  {
  display: table;
}

table tr td {
  overflow: hidden;
  height: 7vh;
  padding: 0 0.5vw;
}

input {
  height: 2.5vh;
  border: solid 0.1vw #999;
  border-radius: 1em;
  padding: 0 1vw;
  font-size: 1vw;
}

.thin-rounded-box, table {
  border: 0.1vw solid #999;
  border-radius: 0.3vw;
  overflow: hidden;
}

.key-value-pair {
  padding: 0.5vh 0.5vw;
}

.key-value-pair p:nth-child(1) {
  font-size: 1vw;
  font-weight: 300;
}
.key-value-pair p:nth-child(2) {
  font-size: 1.5vw;
}

.dropdown-button {
  font-size: 1vw;
  width: 2vw;
  height: 2vw;
  margin: auto 0.5vw;
  border-radius: 0.6em;
}

.updown-button {
  display: flex;
  flex-direction: column;
}

.updown-button > button {
  font-size: 0.9vw;
  width: 1.7vw;
  height: 1.5vw;
  margin: 0.1vw;
  border-radius: 0.4em;
  flex: 1;
}

#navbar {
  width: 10vw;
  height: 100vh;
  display: block;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
}

#navbar-title {
  text-align: center;
  font-size: 2.6vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  padding: 8vh 0;
}

#navbar-links p {
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  padding: 1.5vh 0;
  cursor: pointer;
}

#navbar-links p:hover, #navbar-links p.active {
  background-color: #7ce8c4;
}

#home button {
  height: 20vh;
  font-size: 3vw;
}

#home>h1 {
  top: 25vh;
}

#home>div {
  top: 29vh;
  height: 54vh;
  display: flex;
  flex-direction:column;
}

#home-newsale-button, #home-recentsales-list, #home > h1:nth-of-type(1), #home>div:nth-of-type(1) {
  width: 25vw;
  left: 0vw;
}

#home-addstock-button, #home-lowstock-list, #home > h1:nth-of-type(2), #home>div:nth-of-type(2)  {
  width: 20vw;
  left: 30vw;
}

#home-lowstock-button, #home-nearexpiry-list, #home > h1:nth-of-type(3), #home>div:nth-of-type(3)   {
  width: 25vw;
  left: 55vw;
}

#home-recentsales-list > div {
  padding: 2vh 2vw;
  position: relative;
  flex: 1;
}

#home-recentsales-list > div > p { /* item list */
  display: inline-block;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.1vw;
}

#home-recentsales-list > div > span {
  position: absolute;
  right: 1.5vw;
  text-align: right;
  font-size: 1.5vw;
}

#home-recentsales-list > div > span:nth-child(3) {
  top: 6vh;
}

#home-recentsales-list > div > span:nth-child(3) > span:nth-child(1){
  font-size: 0.9vw;
}

#home-lowstock-list > div, #home-nearexpiry-list > div {
  flex: 1;
  font-size: 1.5vw;
  overflow: hidden;
  display: flex;
}

#home-lowstock-list > div > p, #home-nearexpiry-list > div > p {
  margin: auto;
}

#home-lowstock-list > div > p:first-child, #home-nearexpiry-list > div > p:first-child {
  width: 15vw;
  overflow: hidden;
}

#sales-bill-numbers {
  top: -1vw;
  left: 10vw;
  width: 37vw;
  height: 2.5vw;
  border-radius: 1.5vw;
  font-weight: 600;
  font-size: 2vw;
  color: white;
  cursor: pointer;
  display: flex;
}

#sales-bill-numbers > button {
  flex: 1;
}

#sales-bill-table {
  border-bottom-right-radius: 0;
  top: 4vh;
  left: 0;
  height: 73vh;
}

#sales-bill-table th:nth-child(1), #sales-bill-table td:nth-child(1) {
  width: 32vw;
}
#sales-bill-table th:nth-child(2), #sales-bill-table td:nth-child(2) {
  width: 5vw;
}
#sales-bill-table th:nth-child(3),#sales-bill-table td:nth-child(3)  {
  width: 7vw;
}

#sales-bill-table > tbody  {
  height: 67.6vh;
  width: 47vw;
}

#sales-bill-table td:not(:nth-child(1)) {
  text-align: right;
}

#sales-bill-table tr:last-child td {
  min-height: 6vh;
  padding: 0.5vh 1vw;
  vertical-align: top;
}
#sales-bill-table tr:last-child:hover {
  background-color: unset;
  cursor: unset;
}

#sales-bill-table-add-button, #stocks-add-add-item-button {
  font-size: 1.5vw;
  width: 10vw;
  height: 5vh;
}

#sales-bill-totals {
  top: 77vh;
  right: 32.8vw;
  display: flex;
  height: 7vh;
  width: 25vw;
  border-top: none;
  border-radius: 0 0 1vw 1vw;
}

#sales-bill-totals > div {
  flex: 1;
  margin: auto;
  padding: 0 1vw;
}

#sales > h1:nth-of-type(2), #sales-bill-item-details, #sales-item-expiry-dropdown, #sales-item-qty-numbox, #sales-checkout-button {
  left: 53vw;
}

#sales-bill-item-details, #stocks-add-item-details {
  top: 4vh;
  width: 27vw;
  height: 20vh;
  display: grid;
  grid-template: auto / 20vw auto;
}


#sales-item-expiry-dropdown, #sales-item-qty-numbox {
  top: 30vh;
}

#sales-checkout-button,#sales-remove-item-button {
  top: 40vh;
}

#sales-item-qty-numbox, #sales-remove-item-button, #sales-discard-bill-button {
  left: 73vw;
}
#sales-discard-bill-button {
  top: 46vh;
}

#sales-item-expiry-dropdown {
  display: flex;
  width: 17vw;
  z-index: 100;
}

#sales-item-expiry-dropdown > div {
  display: flex;
}

#sales-item-expiry-dropdown > div > div {
  height: 3vw;
  flex: 1;
}

#sales-item-qty-numbox {
  width: 7vw;
  display: flex;
}

#sales-item-qty-numbox > div:first-child {
  flex: 1;
}

#sales-checkout-button {
  width: 17vw;
  height: 10vh;
  font-size: 2vw;
  z-index: 0;
}

#sales-remove-item-button, #sales-discard-bill-button {
  width: 7vw;
  font-size: 1vw;
  height: 4vh;
}

#stocks-details-table, #stocks-product-details, #stocks > h1:nth-of-type(2), #stocks > h1:nth-of-type(3) {
  left: 31vw;
}

#stocks-add-button, #stocks-remove-button {
  width: 12vw;
  height: 8vh;
  font-size: 2vw;
}

#stocks-remove-button {
  left: 14vw;
}

#stocks > h1:nth-of-type(1) {
  top: 13vh;
}

#stocks-product-search-textbox {
  top: 18vh;
  width: 24vw;
}

#stocks-products-list {
  top: 23vh;
  width: 26vw;
  height: 60vh;
  font-size: 1.5vw;
  overflow-y: scroll;
}

#stocks-products-list > p {
  padding: 1vw;
}

#stocks-details-table {
  top: 4vh;
  width: 49vw;
}

#stocks-details-table tbody {
  height: 52vh;
}

#stocks-details-table tr th:nth-child(1) ,#stocks-details-table tr td:nth-child(1) {
  width: 22vw;
}
#stocks-details-table tr th:nth-child(2), #stocks-details-table tr td:nth-child(2) {
  width: 8vw;
}
#stocks-details-table tr th:nth-child(3), #stocks-details-table tr td:nth-child(3) {
  width: 4vw;
}
#stocks-details-table tr th:nth-child(4), #stocks-details-table tr td:nth-child(4) {
  width: 4vw;
}
#stocks-details-table tr th:nth-child(5) {
  width: 6vw;
}
#stocks-details-table tr td:nth-child(5) {
  width: 4vw;
}

#stocks tr td:not(:first-child)  {
  text-align: right;
}

#stocks h1:nth-of-type(3) {
  top: 66vh;
}

#stocks-product-details {
  top: 70vh;
  width: 49vw;
  height: 13vh;
  display: grid;
  grid-template: 50% 50% / 55% 15% 15% 15%;
}

#stocks-product-details div:nth-child(2) {
  grid-column: span 3;
}

#stocks-add-table {
  top: 4vh;
}

#stocks-add-table tbody {
  height: 74vh;
}

#stocks-add-table tr th:nth-child(1), #stocks-add-table tr td:nth-child(1) {
  width: 34vw;
}
#stocks-add-table tr th:nth-child(2), #stocks-add-table tr td:nth-child(2) {
  width: 8vw;
}
#stocks-add-table tr th:nth-child(3), #stocks-add-table tr td:nth-child(3) {
  width: 4w;
}

#stocks-add-table tr:last-child:hover {
  background-color: unset;
  cursor: unset;
}


#stocks-add h1:nth-of-type(2), #stocks-add-item-details, #stocks-add-remove-item-button, #stocks-add-save-button {
  left: 53vw;
}

#stocks-add-remove-item-button {
  top: 29vh;
  height: 5vh;
  width: 27vw;
}

#stocks-add-save-button, #stocks-add-cancel-button {
  bottom: -83vh;
  height: 10vh;
  font-size: 2vw;
}

#stocks-add-save-button {
  width: 16vw;
}

#stocks-add-cancel-button {
  left: 72vw;
  width: 8vw;
}

#products-search-textbox {
  height: 5vh;
  width: 20vw;
}

#products-new-button {
  height: 6vh;
  left: 25vw;
  width: 10vw;
}

#products-modify-button {
  height: 6vh;
  left: 38vw;
  width: 10vw;
}

#products-table {
  font-size: 1vw;  
  top: 8vh;
}
#products-table tbody {
  height: 70vh;
}
#products-table tr th:nth-of-type(1), #products-table tr td:nth-of-type(1) {
  width: 3vw;
}
#products-table tr th:nth-of-type(2), #products-table tr td:nth-of-type(2) {
  width: 22vw;
}
#products-table tr th:nth-of-type(3), #products-table tr td:nth-of-type(3) {
  width: 20vw;
}
#products-table tr th:nth-of-type(4), #products-table tr td:nth-of-type(4) {
  width: 15vw;
}
#products-table tr th:nth-of-type(5), #products-table tr td:nth-of-type(5) {
  width: 5vw;
}
#products-table tr th:nth-of-type(6), #products-table tr td:nth-of-type(6) {
  width: 3vw;
}
#products-table tr th:nth-of-type(7), #products-table tr td:nth-of-type(7) {
  width: 5vw;
}
#products-table tr th:nth-of-type(8), #products-table tr td:nth-of-type(8) {
  width: 5vw;
}